In [21]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
trial_df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/05-Matplotlib/Instructions/Pymaceuticals/data/clinicaltrial_data.csv")
drug_df = pd.read_csv("/Users/morgancordray/Desktop/programming/UA-PHX-DATA-PT-08-2019-U-C/02-Homework/05-Matplotlib/Instructions/Pymaceuticals/data/mouse_drug_data.csv")

# Combine the data into a single dataset
df = pd.merge(trial_df, drug_df, on= "Mouse ID")

# Display the data table for preview
df.heD()

pandas.core.frame.DataFrame

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [41]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
mean_tumor = df[["Drug", "Timepoint","Tumor Volume (mm3)"]]
mean_tumor = mean_tumor.groupby(["Drug", "Timepoint"]).mean()

# Convert to DataFrame

# Preview DataFrame
mean_tumor.head(15)

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
          25                  39.939528
          30                  38.769339
          35                  37.816839
          40                  36.958001
          45                  36.236114
Ceftamin  0                   45.000000
          5                   46.503051
          10                  48.285125
          15                  50.094055
          20                  52.157049

In [42]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
mean_tumor.sem()
# Convert to DataFrame

# Preview DataFrame

Tumor Volume (mm3)    0.898067
dtype: float64

In [10]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [11]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
plt.show()